# Misc
build
*.orig
*.exe
#*.txt
#*.sql
#*.bmp
*.png
*.bak
*.zip
*.data
*.log

# Dotnet
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
!NSDExtensions_corpdb_dev.publish.xml
*.resharper
*.licx
*.dbmdl

# Delphi
__history
*.dcu
*.~*
*.MB
*.cfg
*.ddp
*.drc
*.elf
*.dof
*.INI
*.*~*
*.todo
*.map
*.dcp
*.bpl
*.dpl
*.dsk
*.local
*.identcache
*.groupproj
*.tvsconfig
*.aqt
*.mes
*.2007
*- Backup*.rdl
SuperMerger.pdb
SuperMerger.exe.config
SuperMerger.vshost.exe
SuperMerger.vshost.exe.config
Microsoft.SqlServer.TransactSql.ScriptDom.dll
!/Lib/Microsoft.SqlServer.TransactSql.ScriptDom.dll
packages/
